body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#multiplication-table {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}

table {
    width: 100%;
    border-collapse: collapse;
     
   
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
     
}
